Flask
flask-ngrok
pyngrok
streamlit
azure-ai-inference
praw
openai
lxml_html_clean
plotly
wordcloud
newspaper3k
spacy>=3.7
matplotlib
pandas
finnhub-python
yfinance
pymysql
sql_magic
SQLAlchemy
nltk
seaborn
python-dateutil
requests
jupyter-dash
flask-cors
gunicorn
# spaCy language model – leave the full URL so pip installs the wheel
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl