@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-BlackOblique.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-BlackSlanted.woff2') format('woff2');
  font-weight: 900;
  font-style: oblique;
  font-display: swap;
}

/* PPTelegraf Bold */
@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-BoldSlanted.woff2') format('woff2');
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

/* PPTelegraf Regular */
@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-RegularOblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-RegularSlanted.woff2') format('woff2');
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

/* PPTelegraf Ultrabold */
@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-Ultrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-UltraboldOblique.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-UltraboldSlanted.woff2') format('woff2');
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}

/* PPTelegraf Ultralight */
@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-UltralightOblique.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPTelegraf';
  src: url('https://andrewma.b-cdn.net/fonts/tradevision/PPTelegraf-UltralightSlanted.woff2') format('woff2');
  font-weight: 200;
  font-style: oblique;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }
  p, span, div {
    @apply font-sans;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}